---
import { formatDistance } from 'date-fns';
const { url, image, title, description, pubDate } = Astro.props;
---

<a href={url} class="link">
  <div class="post">
    <div class="post__header">
      <img src={image.url} alt={image.alt} transition:persist />
    </div>
    <div class="post__content">
      <div class="content__box-left">
        <h5 class="title">
          {title}
        </h5>
        <span class="date"
          >{
            formatDistance(Date.now(), new Date(pubDate), {
              includeSeconds: true,
              addSuffix: true,
            })
          }</span
        >
      </div>
      <p class="description">{description}</p>
    </div>
  </div>
</a>

<style lang="scss">
  .link {
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #ddd;
    }
  }

  .post {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &__header {
      flex-shrink: 0;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .post:hover {
        transform: scale(1.2);
      }
    }

    &__content {
      .title {
        display: inline-block;
        margin: 0;
      }

      .description {
        margin: 0;
        color: #888;
        font-size: 14px;
      }

      .date {
        display: none;
        margin-left: 1rem;
        color: var(--clr-tertiary);
        font-size: 14px;
      }
    }

    @media screen and (min-width: 636px) {
      &__header {
        width: 50px;
        height: 50px;
      }

      &__content {
        .date {
          display: inline-block;
        }

        .description {
          font-size: 1rem;
        }
      }
    }
  }
</style>
